body
{
    font-family: 'Roboto Condensed', sans-serif;
}
.quote::before{
    content: "\201c";
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    border-left-width: 7px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: rgb(26, 17, 61);
}